{
	"useTabs": true,
	"singleQuote": true,
	"arrowParens": "avoid",
	"semi": false,
	"trailingComma": "none",
	"printWidth": 100,
	"bracketSameLine": true,
	"plugins": ["prettier-plugin-svelte"],
	"endOfLine": "lf"
}
