@import url('https://rsms.me/inter/inter.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
	width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
	background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #78716c;
	width: 2px;
	border-radius: 3px;
	border: 5px solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
	border-radius: 9999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #57534e;
	background-clip: padding-box;
}

iframe {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

._toast_bar {
	border-radius: 100%;
}

.ProseMirror:focus {
	outline: none;
}

.ProseMirror p.is-editor-empty:first-child::before {
	content: attr(data-placeholder);
	float: left;
	color: rgb(120, 113, 108);
	pointer-events: none;
	height: 0;
}

.writeup .ProseMirror {
	/* border-bottom: #100e0e 2px solid; */
	margin: 0;
	padding: 2rem;
}

.generic .ProseMirror {
	border-bottom: 2px solid #777;
}

.ProseMirror:first-child {
	padding: 4px 12px;
	text-align: left;
}

.ProseMirror h1 {
	font-size: 4em;
}

.ProseMirror h2 {
	font-size: 3em;
}

.ProseMirror h3 {
	font-size: 2em;
}

.ProseMirror a {
	text-decoration: underline;
	text-underline-offset: 2px;
}
