@import url('https://rsms.me/inter/inter.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
	width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
	background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #78716c;
	width: 2px;
	border-radius: 3px;
	border: 5px solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
	border-radius: 9999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #57534e;
	background-clip: padding-box;
}

iframe {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

._toast_bar {
	border-radius: 100%;
}

.ProseMirror:focus {
	outline: none;
}

.ProseMirror p.is-editor-empty:first-child::before {
	content: attr(data-placeholder);
	float: left;
	color: #adb5bd;
	pointer-events: none;
	height: 0;
}

.writeup .ProseMirror {
	/* border-bottom: #100e0e 2px solid; */
	margin: 0;
	padding: 2rem;
}

.generic .ProseMirror {
	border-bottom: 3px solid #000;
}

.ProseMirror * {
	text-align: left;
}

.ProseMirror h1 {
}

.ProseMirror h2 {
}

.ProseMirror h3 {
}

.ProseMirror a,
.rendered-tiptap a {
	color: var(--accent-color);
	text-decoration: none;
	border-bottom: 2px solid var(--accent-color);
}

.tippy-box[data-theme~='light'] {
	--tippy-light-background: var(--color-grey-15);
	background-color: var(--tippy-light-background);
	color: var(--color-grey-4);
	box-shadow: -2px 2px 3px #999;
	font-weight: 600;
}

.tippy-box[data-theme~='light'][data-placement^='top'] > .tippy-arrow::before {
	border-top-color: var(--tippy-light-background);
}

.tippy-box[data-theme~='light'][data-placement^='bottom'] > .tippy-arrow::before {
	border-bottom-color: var(--tippy-light-background);
}

.tippy-box[data-theme~='light'][data-placement^='left'] > .tippy-arrow::before {
	border-left-color: var(--tippy-light-background);
}

.tippy-box[data-theme~='light'][data-placement^='right'] > .tippy-arrow::before {
	border-right-color: var(--tippy-light-background);
}

.tippy-box[data-theme~='dark'] {
	--tippy-dark-background: var(--color-grey-4);
	background-color: var(--tippy-dark-background);
	color: var(--color-grey-14);
	box-shadow: -2px 2px 3px #999;
	font-weight: 600;
}

.tippy-box[data-theme~='dark'][data-placement^='top'] > .tippy-arrow::before {
	border-top-color: var(--tippy-dark-background);
}

.tippy-box[data-theme~='dark'][data-placement^='bottom'] > .tippy-arrow::before {
	border-bottom-color: var(--tippy-dark-background);
}

.tippy-box[data-theme~='dark'][data-placement^='left'] > .tippy-arrow::before {
	border-left-color: var(--tippy-dark-background);
}

.tippy-box[data-theme~='dark'][data-placement^='right'] > .tippy-arrow::before {
	border-right-color: var(--tippy-dark-background);
}
