@import url('https://rsms.me/inter/inter.css');

:root {
	font-family: Inter, Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: monospace;
	--pure-white: #ffffff;
	--primary-color: #b9c6d2;
	--secondary-color: #d0dde9;
	--tertiary-color: #edf0f8;
	--accent-color: #ff3e00;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #444444;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;

	--font-weight-normal: 400;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;

	--color-grey-1: #100e0e;
	--color-grey-2: #1b1818;
	--color-grey-3: #231f1f;
	--color-grey-4: #2c2626;
	--color-grey-5: #393232;
	--color-grey-6: #443b3b;
	--color-grey-7: #5f5353;
	--color-grey-8: #948484;
	--color-grey-9: #b8adad;
	--color-grey-10: #d0c8c8;
	--color-grey-11: #d9d3d3;
	--color-grey-12: #e3dede;
	--color-grey-13: #eae6e6;
	--color-grey-14: #f1efef;
	--color-grey-15: #f8f7f7;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--pure-white);
}

body::before {
	content: '';
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	background: radial-gradient(50% 50% at 50% 50%,
			var(--pure-white) 0%,
			rgba(255, 255, 255, 0) 100%);
	opacity: 0.05;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2,
p {
	color: var(--heading-color);
}

h1,
h2 {
	font-weight: 700;
}

p {

	font-weight: 400;
	line-height: 1.5;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
	text-align: center;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button {
	background-color: var(--color-grey-15);
	color: var(--color-grey-1);
	border: none;

	font-size: 1rem;
	border-radius: 0.4rem;
	font-weight: var(--font-weight-semibold);
	padding: 0.5rem 1rem;
}

button:hover {
	background-color: var(--color-grey-14);
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}